<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wisekrakr.wisemessenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/logo_small" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/primaryColor" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_small"
        android:supportsRtl="true"
        android:theme="@style/Theme.WiseMessenger"
        >
        <activity android:name=".components.activity.profile.ContactsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wisekrakr.wisemessenger.components.activity.HomeActivity" />
        </activity>
        <activity android:name=".components.activity.profile.ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wisekrakr.wisemessenger.components.activity.HomeActivity" />
        </activity>
        <activity android:name=".components.activity.actions.SearchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wisekrakr.wisemessenger.components.activity.HomeActivity" />
        </activity>
        <activity android:name=".components.activity.auth.LoginMobileActivity" />
        <activity android:name=".components.activity.actions.CreateGroupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wisekrakr.wisemessenger.components.activity.HomeActivity" />
        </activity>
        <activity android:name=".components.activity.chat.GroupChatActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wisekrakr.wisemessenger.components.activity.HomeActivity" />
        </activity>
        <activity android:name=".components.activity.profile.ProfileSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wisekrakr.wisemessenger.components.activity.HomeActivity" />
        </activity>
        <activity android:name=".components.activity.chat.PrivateChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wisekrakr.wisemessenger.components.activity.HomeActivity" />
        </activity>
        <activity android:name=".components.activity.auth.LoginActivity" />
        <activity android:name=".components.activity.auth.RegisterActivity" />
        <activity android:name=".components.activity.StartActivity" />
        <activity android:name=".components.activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <service-->
<!--            android:name=".firebase.MyFirebaseMessagingService"-->
<!--            android:exported="false"-->
<!--            tools:ignore="Instantiatable">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->


<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/icon_chat" />-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/primaryColor" />-->
    </application>

</manifest>